# {{ ansible_managed }}

[DEFAULT]

{% if fail2ban_ignoreip %}
ignoreip  = {{ fail2ban_ignoreip|join(' ') }}
{% endif %}
bantime   = {{ fail2ban_bantime }}
maxretry  = {{ fail2ban_maxretry }}
banaction = {{ fail2ban_banaction }}
action    = {{ fail2ban_action }}
destemail = {{ fail2ban_destemail }}

[ssh]
enabled   = true
port      = {{ fail2ban_sshport }}

[ssh-ddos]
enabled   = true

{% if fail2ban_postfix is sameas true %}
[postfix]
enabled   = true
maxretry  = 1
{% endif %}

{% if fail2ban_portscan is sameas true %}
[portscan]
enabled  = true
filter   = portscan
logpath  = /var/log/ufw.log
action   = ufw
maxretry = 5
{% endif %}
